body {
    background-color: #a5cfd5 !important;
}

.block {
    box-shadow: 0px 0px 6px #e2d4e7 !important;
}

.block-title {
    background: linear-gradient(to bottom, #59267c, #8f5db7); !important;
}

.block-name {
    color: #E2F7CE !important;
}

.block-content {
    background-color: #e2d4e7 !important;
}

.bookmark-line:hover {
    background-color: #81cd50 !important;
}

.bookmark-name {
    color: #5E412F !important;
}

.sidenav {
    background-color: #40a53e !important;
}

.sidenav a {
    color: #818181 !important;
}

.sidenav a:hover {
    color: #f1f1f1 !important;
}

.topcorner {
    color: #b8b6b4 !important;
}

.topcorner:hover {
    color: #ffffff !important;
}

.highlight {
    background-color: yellow !important;
}