body {
    background-color: #4C5A88 !important;
}

.block {
    box-shadow: 0px 0px 6px #e4c4f5 !important;
}

.block-title {
    background: linear-gradient(to bottom, #40a53e, #C8986F50); !important;
    background-color: #4C5A88 !important;
}

.block-name {
    color: #d2ff7b !important;
}

.block-content {
    background-color: #A0AEC4 !important;
}

.bookmark-line:hover {
    background-color: #5A4F8D50 !important;
}

.bookmark-name {
    color: #302d50 !important;
}

.sidenav {
    background-color: #40a53e !important;
}

.sidenav a {
    color: #818181 !important;
}

.sidenav a:hover {
    color: #f1f1f1 !important;
}

.topcorner {
    color: #b8b6b4 !important;
}

.topcorner:hover {
    color: #ffffff !important;
}

.highlight {
    background-color: yellow !important;
}