body {
    background-color: #351330 !important;
}

.block {
    box-shadow: 0px 0px 6px #e4c4f5 !important;
}

.block-title {
    background: linear-gradient(to bottom, #424254, #64908A); !important;
}

.block-name {
    color: #E2F7CE !important;
}

.block-content {
    background-color: #E8CAA4 !important;
}

.bookmark-line:hover {
    background-color: #FF8C94 !important;
}

.bookmark-name {
    color: #5E412F !important;
}

.sidenav {
    background-color: #40a53e !important;
}

.sidenav a {
    color: #818181 !important;
}

.sidenav a:hover {
    color: #f1f1f1 !important;
}

.topcorner {
    color: #b8b6b4 !important;
}

.topcorner:hover {
    color: #ffffff !important;
}

.highlight {
    background-color: yellow !important;
}